/*stiliaus failas*/
header{
	display: block;
	/*
	margin-left: 400px;
	margin-top: 50px;
	margin-right: 400px;
	margin-bottom: 15px;
	*/
	margin: 0 auto; /* iscentruoja */
	margin-top: 50px;
	padding: 5px;
	width: 640px;
	height: 225px;


}
h1{
	font-family:'Big Shoulders Display', cursive;;
	font-size: 30 px;
	text-align: center;
}
h2{
	display: block;
	font-family:'Lato', sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 2px solid #cccccc;
	border-bottom: 2px solid #cccccc;
	text-align: center;
	font-size: 18px;
	margin: 30px 350px 10px 350px;
}
article{
	display: inline-block;
}
article.first{
	width: 150px;
	padding: 2px;
    margin-left: 400px;
}
article.second{
	width: 150px;
	padding: 2px;
	margin-left: 10px;
}
article.third{
	width: 150px;
	padding: 2px;
	margin-left: 10px;
}
article.four{
	width: 150px;
	padding: 2px;
	margin-left: 10px;
}

footer,h4, p.foot, section.footer{
	display: inline-block;
}
footer{
	width: 650px;
	padding: 2px;
	margin-left: 500px;
}
h4{
	padding: 2px;
	margin-left: 2px;
	font-family: 'Be Vietnam', sans-serif;
}
p.foot{
	color: grey;
	margin-left: 2px;
	padding: 3px;
}
p, p.foot{
	font-family:'Be Vietnam', sans-serif;
}
